<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        {% endblock %}
    </head>
    <body>
        {% include 'header.html.twig' %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <div class="outer-layer">
            <div class="container inner-layer">
                <h1>Welcome {{ name }}</h1>
                <a href="/index.php/lucky"><button>Hier gehts zur zufälligen Nummer</button></a>
            </div>
        </div>

        {% include 'footer.html.twig' %}
    </body>
</html>
